
/*^ ----------------------------------- */
/*^ -               GENERAL           - */
/*^ ----------------------------------- */


body {
  background: #000;
  color: #fff;
  font-family: "helvetica", sans-serif;
}


/*^ ----------------------------------- */
/*^ -               GRID              - */
/*^ ----------------------------------- */


.container {
  /* width: 90%;
  max-width: 1000px;
  margin: 20px auto; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: 
  "header header header"
  "wrapper wrapper wrapper"
  "footer footer footer";
  gap: 20px;
}

.header {
  grid-area: header;
}

.wrapper {
  grid-area: wrapper;
}

.footer {
  grid-area: footer;
  width: 100%;
  margin: 20px auto;
}

.container-logo, .nav__ul {
  width: 90%;
  max-width: 1000px;
  margin: 20px auto;
}


/*^ ----------------------------------- */
/*^ -              NAV                - */
/*^ ----------------------------------- */


.nav {
  background: #363636;
}

.nav__ul {
  list-style: none;
  display: flex;
  padding: 0;

}

.nav__li {
  flex-grow: 1;
}

.nav__a {
  padding: 15px 8px;
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 1.07em;
  text-align: center;
}

.nav__a {
  transition: padding .3s, font-size .3s, font-weight .3s, text-shadow .3s;
}

.nav__a:hover {
  background: #646464;
  padding: 15px 35px;
  font-weight: bold;
  font-size: 24.12px;
  text-shadow: 0 0 15px #ffffff;
}

.nav__a--light:hover {
  filter: drop-shadow(0px 0px 15px #292929);
  text-shadow: 0 0 15px #ffffff;
}

.nav__a--safe:hover {
  background: #28ca00;
  filter: drop-shadow(0px 0px 15px #187a00);
}

.nav__a--euclid:hover {
  background: #e6e200;
  filter: drop-shadow(0px 0px 15px #969300);
}

.nav__a--keter:hover {
  background: #ff0000;
  filter: drop-shadow(0px 0px 15px #ff0000);
}

.nav__a--death:hover {
  background: #000000;
  filter: drop-shadow(0px 0px 15px #000000);
  color: #ff0000;
  text-shadow: 0 0 15px #ff0000;
}

.white-glow {
  animation-name: white-glow;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: ease-in;
}

@keyframes white-glow {
  0% { text-shadow: 0 0 4px #ffffff; }
  100% { text-shadow: 0 0 14px #ffffff; }
}


/*^ ----------------------------------- */
/*^ -          LOGO E IDIOMA          - */
/*^ ----------------------------------- */


.container-logo {
  display: flex;
}

.logo__letra {
  font-size: 3em;
  margin-top: 0;
  margin-left: 20px;
  display: inline-block;
}

.logo__idioma {
  margin-left: auto;
}

.logo__ul {
  text-decoration: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.logo__li {
  border: 1px solid #32680f;
  background: #255703;
  display: block;
}

.logo__a {
  color: #fff;
  text-decoration: none;
  display: block;
  font-size: 0.72em;
  padding: 6px;
}

.logo__a:hover {
  background: #409608;
}


/*^ ----------------------------------- */
/*^ -            CONTENIDO            - */
/*^ ----------------------------------- */

.wrapper {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

.logo__letra, .footer {
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
  animation-name: white-glow;
  animation-duration: 1s;
}

@keyframes white-glow {
  0% { text-shadow: 0 0 3px #ffffff; }
  100% { text-shadow: 0 0 14px #ffffff; }
}

.main-1 {
  font-size: 2em;
  margin: 60px 40px 60px 40px;
  border: 2px solid #9c9c9c;
  background: #484f53;
  padding: 20px 20px;
}

.main-2 {
  font-size: 2.3em;
  margin: 40px;
  border: 5px solid #ff0000;
  background: #961010;
  color: #dddddd;
  padding: 20px 20px;
}

.clasificada {
  font-size: 3.5em;
}

.aviso {
  text-align: center;
}

/* .creepy__font-family {
  font-family: "Amatic SC";
  line-height: .001em;
  font-size: 2.47em;
  display: inline-block;
  padding-top: 6px;
  letter-spacing: 2px;
  font-weight: 100;
  animation-name: shake;
  animation-duration: .5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
} */

.main-2 {
  animation-name: animacion;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: ease-in;
  border-radius: 5px;
}

@keyframes animacion {
  0% {
      border-color: #ff0000;
      filter: drop-shadow(0px 0px 10px #ff0000);
  }

  100% {
      border-color: #880000;
      filter: drop-shadow(0px 0px 10px #880000);
  }
}

.nav__a-span {
  animation: .5s shake infinite alternate;
  display: inline-block;
}

@keyframes shake {
  0% { transform: skewX(-15deg); }
  5% { transform: skewX(15deg); }
  10% { transform: skewX(-15deg); }
  15% { transform: skewX(15deg); }
  20% { transform: skewX(0deg); }
  100% { transform: skewX(0deg); }  
}


.shake-1, .shake-2 {
  display: inline-block;
  animation-duration: .5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  font-family: 'Amatic SC', "helvetica";
  font-size: 1.1;
  color: #000;
  text-decoration: line-through black 1px;
  }
  
  .shake-1 {
    animation-name: shake-1;
  }
  
  @keyframes shake-1 {
  0% { transform: translate(1px, 1px) rotate(0deg) skewX(-15deg);  }
  5% { transform: skewX(15deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg) skewX(-15deg); }
  15% { transform: skewX(15deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg) skewX(0deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg) skewX(0deg);   }
  }
  
  .shake-2 {
    animation-name: shake-2;
  }
  
  @keyframes shake-2 {
    0% { transform: translate(1px, -2px) rotate(-1deg) skewX(-15deg); }
    5% { transform: skewX(15deg); }
    10% { transform: translate(1px, 2px) rotate(0deg) skewX(-15deg); }
    15% { transform: skewX(15deg); }
    20% { transform: translate(-1px, -1px) rotate(1deg) skewX(0deg); }
    30% { transform: translate(3px, 1px) rotate(-1deg); }
    40% { transform: translate(-3px, 1px) rotate(0deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(1px, -1px) rotate(1deg); }
    70% { transform: translate(3px, 2px) rotate(0deg); }
    80% { transform: translate(-3px, 0px) rotate(1deg); }
    90% { transform: translate(-1px, -2px) rotate(-1deg); }
    100% { transform: translate(1px, 1px) rotate(0deg) skewX(0deg); }
    }

    
/*^ ----------------------------------- */
/*^ -               FOOTER            - */
/*^ ----------------------------------- */


.footer {
  margin-top: 100px;
  padding: 0px 0px;
  text-align: center;
  font-size: 1.2em;
  line-height: 0.8em;
  background: #363636;
}

