* {
    margin: 0;
    padding: 0;
}

body {
    background: #000;
    color: #fff;
    font-family: "helvetica";
}

header, .main, footer {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
}

header nav {
    background: #363636;
    overflow: hidden;
    clear: both;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    float: left;
}

header nav ul li a {
    padding: 15px 20px;
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 1.07em;
}

header nav ul li a:hover {
    background: #646464;
}

header nav ul li a span {
    color: red;
}

.idioma ul {
    text-decoration: none;
}

.idioma ul li {
    border: 1px solid #32680f;
    background: #255703;
    display: block;
    float: right;
    /* margin-top: 28px; */
}

.idioma ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    font-size: 0.72em;
    padding: 6px;
}

.idioma ul li a:hover {
    background: #409608;
}

footer {
    clear: both;
    margin-top: 50px;
    padding: 16px 0px;
    text-align: center;
    font-size: 1.2em;
    background: #363636;
}

.logo {
    float: left;
    margin: 10px 10px;
}

.logo-letra {
    font-size: 3em;
    margin-top: 35px;
    margin-left: 20px;
    /* text-align: center; */
    display: inline-block;
}

.main-1 {
    font-size: 2em;
    margin: 60px 40px 60px 40px;
    border: 2px solid #290000;
    background: #440000;
    /* color: #000; */
    padding: 20px 20px;
    /* width: 65%; */
    /* margin: 20px 20px; */
    /* margin: auto; */
    color: #ff0000;
}